[package]
name = "rustdds"
version = "0.1.0"
authors = ["Juhana Helovuo <juhana.helovuo@atostek.com>", "Oiva Moisio <oiva.moisio@atostek.com>", "Miska Melkinen <miska.melkinen@atostek.com>"]
description = "Rust DDS implementation with RTPS"
readme = "README.md"
keywords = ["network","protocol","dds","rtps"]
license = "Apache-2.0"
edition = "2018"
homepage = "https://github.com/jhelovuo/RustDDS"  # placeholder home page
repository = "https://github.com/jhelovuo/RustDDS"
categories = ["network-programming", "science::robotics"] 
# the science-robotics category is because of ROS2

[dependencies]
bytes = "0.5.4"
mio = "0.6.22"
mio-extras = "2.0.6"
tokio-util = { version = "0.3.1", features = ["codec"] }
bit-set = "0.5.2"
bit-vec = "0.6.2"
speedy = "0.6.0"
log = "0.4.11"
nix = "0.18"
num-traits = "0.2"
num-derive = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_repr = {version = "0.1" }
byteorder = { version = "1.3", features = ["i128"] }
uuid = { version = "0.8.1", features = ["v4"] }
rand = "0.7.3"
timer = "0.1"
chrono = "0.4"
enumflags2 = { version = "0.6", features = ["serde"] }
num_enum = "0.5.1"
get_if_addrs = "0.5.3"
paste = "1"
itertools = "0.9.0"
md5 = "0.7.0"

[[example]]
name = "shapes_demo"


[[example]]
name = "ros2_demo"

[dev-dependencies]
# shapes-demo:
ctrlc = "3.1.6"     
termion = "1.5.5"
env_logger = "0.7.1"
# ros2-demo
log4rs = "0.13.0"
